
@{
    ViewBag.Title = "爱驴简介";
    Layout = "~/Views/Shared/_LayoutFullWidth.cshtml";
}

<h2>@ViewBag.Title</h2>

<pre>
    <b>缘份未到，只因为你认识的人不够多！</b>

    随着社会的发展，我们对另一半的要求不再是为了生存、为了繁衍后代，我们需要相互理解、相互尊重、相互包容，我们希望能携手向前，一起慢慢变老，我们不再将就！

    忙碌的工作让我们没有太多的时间去寻找，朋友圈都是熟悉的那些人，虚幻的网络让我们不再相信，多次的相亲也让我们逐渐抗拒，唯有时间，在一直流逝！

    我们创建爱驴网，希望能将单身的人组织起来，一起去户外活动，让您认识更多的人，扩展您的人脉圈！

    我们相遇，我们相熟，我们相知，找到对的那个人，相爱，相守！

    缘到，遇到！上爱驴网，遇到您的爱侣！

</pre>
