@model MVCForum.Website.ViewModels.CreateTopicButtonViewModel
@if (Model.LoggedOnUser != null && Model.LoggedOnUser.DisablePosting != true )
{
    <div class="createtopicbutton">
        <a href="@Url.Action("CreateMeiRiXinqing", "Topic")" class="btn-mvc-green btn-mvc-large btn-mvc-fullwidth">
           每日心情
        </a>
    </div>
}