@model MVCForum.Website.ViewModels.CreateTopicButtonViewModel
@if (Model.LoggedOnUser != null && Model.LoggedOnUser.DisablePosting != true )
{
    <div class="createtopicbutton">
        <a href="@Url.Action("CreateHuoDongJiLu", "Topic")" class="btn-mvc-green btn-mvc-large btn-mvc-fullwidth">
           新增活动记录
        </a>
    </div>
}