
@{
    ViewBag.Title = "隐私政策";
    Layout = "~/Views/Shared/_LayoutFullWidth.cshtml";
}

<h2>隐私政策</h2>
<pre>
爱驴网个人信息保护政策
为切实保护爱驴网（www.ailvlove.com和www.爱驴.com）用户隐私权，优化用户体验，深圳爱驴网络科技有限公司（“爱驴公司”）根据现行法规及政策，制定本《个人信息保护政策》。 本《个人信息保护政策》将详细说明爱驴网在获取、管理及保护用户个人信息方面的政策及措施，请您务必仔细阅读。本《个人信息保护政策》适用于爱驴网向您提供的所有服务，无论您是通过计算机设备、移动终端或其他设备获得的爱驴网服务。请特别注意，您向我们提供相关个人信息并访问爱驴网（“本网站”），意味着您接受并且同意本政策的各项规定。
个人信息的收集
法律保护能够识别公民个人身份和涉及公民个人隐私的信息，这也是本《个人信息保护政策》的关注焦点。这些信息包括但不限于您的姓名、地址、电话号码、电子邮件地址、婚姻状况、财产状况等。
通常，爱驴网收集您的个人信息途径包括但不限于以下情况：
·您注册成为网站用户；
·您向我们发送电子邮件；
·您使用我们的电子商务服务。
在一般情况下，我们不会将您的个人信息公开给任何人，但是，如果您使用了我们的各类网站服务，意味着您同意将参与该服务时提供的信息公开给任何参与同一服务的其他人。
爱驴网（www.ailvlove.com和www.爱驴.com）在不同的时间段，信息收集重点有所不同。 例如：
    1.为您提供服务所必需的个人信息
    您第一次加入爱驴网（www.ailvlove.com和www.爱驴.com）时，需要您自愿提供诸如姓名、性别、年龄、手机、住址、婚姻状况、学历、收入状况、照片、兴趣爱好等个人信息以及网站自动接收并记录会员的浏览器和服务器日志上的信息(含会员登录所在地的IP地址、在线、无线信息、信件资料等。这些信息将用于提供网站服务、改进网页内容，满足会员对某种产品、活动的需求、通知会员最新产品、活动信息、或根据法律法规要求的用途。您在本网站上公开发布的个人信息，任何登陆到爱驴网（www.ailvlove.com和www.爱驴.com）或使用本网站的第三人均可查看的全部或部分可以被爱驴网（www.ailvlove.com和www.爱驴.com）的使用者查看，以提高您通过爱驴网相亲成功的机会。您提供这些信息即表示您同意我们不同程度地向爱驴网（www.ailvlove.com和www.爱驴.com）的使用者披露。请注意，我们网站的任何用户（无论是否注册或登录）都可以访问、阅览和打印您所提供的并公开发布在网站上全部或部分信息，对于他人使用您在我们网站所提供的信息，我们不承担任何责任。
请注意，我们网站的任何用户（无论是否注册）都可以访问、下载和打印您所提供的除真实姓名和个人联系方式以外的信息。对于他人使用或公开您在我们网站所提供的信息，我们不承担任何责任。
    同时，一旦您使用爱驴网或成为会员（无论是付费还是免费），则表示您已许可我们将这些信息披露给我们的附属公司、母公司和相关联的第三方商业机构，以及其他和我们处于共同公司控制权的有关联的法律实体和商业机构。但是，我们同样会要求上述这些法律实体和商业机构在使用和披露这些个人信息时遵守本隐私政策的相关条款。我们也可能会在法律规定或政府机关要求的情况下，即为了回应传票、许可证、法院命令、政府机关指令或其他法律程序，为免除您在生命、身体或财产方面之急迫危险，为防止他人权益之重大危害，提高用户的使用安全性并提供客户支持，及其他维护用户及爱驴网利益的情形下，去披露这些信息。
所有相关的个人信息将会转移到计算机网络中进行维护，在符合当地法律规定的前提下，计算机网络可能位于您居住地以外的州/省、国家/地区或其他政府管辖区域，在这些国家/地区可能没有像您所在的国家/地区那样对个人信息给予同等力度的法律保护。
    2.收集非个人可识别信息（特定或集合信息）以提高我们的服务质量
    除提供服务所必需的个人信息之外，我们还会收集一些数据（并非可识别的个人信息）来提高爱驴网（www.ailvlove.com和www.爱驴.com）的服务质量和改进网站管理。例如，当您浏览某一个网页时，系统会自动记录下URL、日期与时间以及所使用的浏览器软件等信息。
    收集特定或集合的信息有助于保证帐户的准确性，也有助于我们更好地为您提供服务，并帮助您最大限度地有效使用我们的网站。例如，我们的服务器会识别您的域名和所访问的网页。这些数据会以集合的方式收集，以帮助我们提高服务的质量和改进网站管理。
    爱驴网（www.ailvlove.com和www.爱驴.com）会不定期地向值得信任的第三方提供有关销售、浏览模式和导航技术方面的综合统计信息（这些并非是个人可识别信息），旨在帮助爱驴网（www.ailvlove.com和www.爱驴.com）改进其所提供的产品与服务。
    3.自愿提供的个人信息 - 如为爱驴网（www.ailvlove.com和www.爱驴.com）的问卷调查、时事通讯以及第三方提供的信息
    我们通过问卷调查、竞赛和注册页面收集您自愿提供的信息，并仅将这些信息用于改进您的爱驴网（www.ailvlove.com和www.爱驴.com）在线体验。一切问卷调查将严格保密。在一般情况下，我们不会泄露、披露、出售、散发、出租、许可、共享您的个人信息或将其转让给任何第三方。
    爱驴网（www.ailvlove.com和www.爱驴.com）会不定期地与其他组织合作，为您提供特别建议、竞赛活动和订阅服务。
    请认真阅读这些活动及服务的条款和内容，如您自愿将您的可识别个人信息提供给第三方，相关责任将由您自行承担。
    爱驴网（www.ailvlove.com和www.爱驴.com）在与第三方建立业务关系时一向小心谨慎，如果不符合上述全部要求，则不会与第三方公司或组织共享、披露或出售我们网站所收集到的任何个人可识别信息。
    4.通过电话、短信或电子邮件与您联系
    为了改善对您的服务，我们将会通过您提供的电话或电子邮箱等途径与您联系。例如，提供相关服务，回答针对我们的网站或服务的反馈，提供您所要求的任何信息，发送业务流程审查和确认信息，推荐新产品或新服务，发送电子邮件收讫确认等。
   个人信息的管理
为了向您提供更好的服务或产品，爱驴网会在下述情形使用您的个人信息：
1)根据相关法律法规的要求；
2)根据您的授权；
3)根据爱驴网相关服务条款、应用许可使用协议的约定。
此外，您已知悉并同意：在现行法律法规允许的范围内，爱驴网可能会将您非隐私的个人信息用于市场营销，使用方式包括但不限于：在爱驴网平台中向您展示或提供广告和促销资料，向您通告或推荐爱驴网的服务或产品信息，以及其他此类根据您使用爱驴网服务或产品的情况所认为您可能会感兴趣的信息。其中也包括您在采取授权等某动作时选择分享的信息，例如当您发送名片或站内邮件、在动态中新增地标、使用爱驴网互动、联络工具等。
未经您本人允许，爱驴网不会向任何第三方披露您的个人信息，下列情形除外：　　
1）您明确同意让第三方共享资料；
2）只有透露您的个人信息，才能提供您所要求的产品和服务；
3）为保护本网站、会员及社会公众的财产权利或人身权利；
4）根据法律法规的规定，向司法机关提供；
5）因用户使用本网站特定功能，向代表我们提供产品或服务的合作单位或授权单位提供您的个人信息；
6）受到黑客攻击导致会员信息泄漏的；
7）根据您与爱驴网相关服务条款、应用许可使用协议的约定；
8）为实现使用目的，其他有必要的情况及法律法规规定的其他情形。
个人信息的保护
    我们采用高科技的技术措施来确保您敏感信息的安全，防止未经授权的访问和不当使用。为防止用户个人信息在意外的、未经授权的情况下被非法访问、复制、修改、传送、遗失、破坏、处理或使用，爱驴网已经并将继续采取以下措施保护您的个人信息：　　
1)以适当的方式对用户的个人信息进行加密处理；　　
2)在适当的位置使用密码对用户个人信息进行保护；　　
3)其他的合理措施
但是，相信您也理解，无论采取何种严密措施，都难免发生信息泄漏的情况，就此类情况的发生，您同意免除我们相应的法律责任。
您的帐号具有密码保护功能，以确保您的隐私和信息安全。如果您泄漏了密码，您可能丢失了您的个人识别信息，并且可能出现对您不利的后果。因此，无论任何原因危及您的密码安全，您应该立即通过客服邮箱kefu@ailvlove.com和我们取得联系。
个人信息的访问
当您完成爱驴网的帐号注册后，您可以查阅或修改您提交给爱驴网的个人信息。一般情况下，您可随时浏览、修改自己提交的信息，但出于安全性和身份识别（如号码申诉服务）的考虑，您可能无法修改注册时提供的某些初始注册信息及验证信息。
未经请求的商业电子邮件 (UCE)
为了提高我们的服务质量，您可能会接收到我们关于商业或营销的电子邮件、短信或电话。如您不想接听上述电话或收到短信、邮件，请您拨打客服电话注销您的注册账号。如您未注销您的账户，则视为您同意接听或接受爱驴网给您的电话、短信及邮件。
     针对我们的服务或者他人为您提供的产品与服务，我们也会发送电子邮件以提供一般信息。
信息保护提示
·结束网络冲浪之后，请始终记得退出网站并关闭浏览器，以免其他人趁机获取您的信息和通信内容。
·爱驴网（www.ailvlove.com和www.爱驴.com）对所有链接网站均没有控制权，因而对这些网站（公司）的一切行为均不承担任何责任。 当您使用其他网站服务时，请认真阅读其相关条款。
·请勿泄漏您的密码与会员身份详细信息。 如果您的帐户被非法访问，请立即通知我们。 请时常更换密码。
·禁止在爱驴网（www.ailvlove.com和www.爱驴.com）网站发布个人联系信息。对于在我们网站上将个人联系信息公开给网站其他会员，我们不承担任何责任。个人信息包括姓名、电话号码和家庭住址等。 注意 - 如果您自愿公开个人信息，有可能会被他人收集并加以利用。 请务必谨慎！
··如果您计划和在网上结识的人会面，一定要慎重。记住，网上交流与真实情况可能是两回事。如果您仍然决定与网友见面，请选择白天或人多的公众场合；并把这件事告诉自己的好朋友或家人。一定要告诉他们您要去哪里，您大概什么时候回来。
对Cookies的使用
我们使用您浏览器的一项叫做“a cookie”（“甜饼”记忆块）的功能来指定用户 ID。Cookies 能够在您访问我们的网站时识别出您连接到我们服务器的计算机，并扩展我们在网站范围内所提供服务的功能。您必须启用 Web 浏览器的 Cookies 功能，才能使用 爱驴网（www.ailvlove.com和www.爱驴.com）网站的全部功能和服务。
    我们保留权利允许第三方（包括爱驴公司或爱驴公司关联企业、广告公司、广告联盟）在我们的网站上放置广告。这些公司可能会使用跟踪技术，例如Cookies，来收集用户对广告的浏览与点击信息。我们的网站不会提供任何个人资料给这些第三方，但是他们可能通过您或者其他使用您电脑的人对他们提供的广告的浏览、点击等动作，收集相关信息。他们也可能将这些信息与您在他们的广告网站上留下的个人信息结合进行分析。对于此类信息的收集与使用均受第三方隐私保护条款约束。这些信息收集的目的是为了这些第三方广告公司提供更有针对性的广告，提升广告效果。
您有权选择接受或拒绝接受cookies。您可以通过修改浏览器的设置以拒绝接受cookies，但是我们需要提醒您，因为您拒绝接受cookies，您可能无法使用我们网站上依赖于cookies技术的全部或部分功能。
爱驴网使用协议
您必须同意并遵守我们的《爱驴网使用条款协议》，才可以使用我们网站特定领域的服务。 在您同意《爱驴网使用条款协议》之时，您已经同意我们按照本隐私政策来使用和披露您的个人信息。本隐私声明的全部条款属于《爱驴网使用条款协议》的一部份。
关于未成年人使用网络的说明
只有年满18岁的成年单身人士才可以加入爱驴网（www.ailvlove.com和www.爱驴.com）。我们不会向未成年人推销本网站，或者未经父母同意而有意地收集其未成年子女的个人信息。
需要注意的是，与其他许多网站一样，爱驴网（www.ailvlove.com和www.爱驴.com）难以鉴别使用本网站的会员或其他个人是否实际为未成年人，也无法确认在线请求的个人信息是否真实和正确，对于任何未成年人使用本网站之情况，一经我们发现，我们有权立即注销该会员帐号及其有关的一切信息，对于因此给该未成年人或其他会员造成的损害，应由该未成年人及其监护人承受，您在使用本网站时也已经认可在上述情况下我们不承担对任何损害的法律责任。
不可抗力
在使用本网站之前，您同意，对于因超出我们合理控制范围的任何事件或情况，包括但不限于战争、入侵、恐怖袭击、自然灾害或其他不可抗力，以及任何技术故障的发生、电气短路、第三方侵入本网站等情况所给您造成的任何损失或损害，我们不承担任何责任。
隐私保护政策的修改
爱驴公司有权随时修改《个人信息保护政策》的任何条款，一旦《个人信息保护政策》的内容发生变动，爱驴网将会直接在本网站上公布修改之后的《个人信息保护政策》，该公布行为视为爱驴网已经通知您修改内容。爱驴网也可通过其他适当方式向用户提示修改内容。如果您不同意爱驴网对本《个人信息保护政策》相关条款所做的修改，您有权停止使用爱驴网的服务。如果您继续使用爱驴网服务，则视为您接受爱驴公司对本协议相关条款所做的修改。
联系我们
如果您对本《个人信息保护政策》或爱驴网的个人信息保护措施以及您在使用中的问题有任何意见和建议请和我们联系：客服邮箱kefu@ailvlove.com
</pre>
