@using MVCForum.Website.ViewModels

@model MVCForum.Website.ViewModels.ViewPicViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="width:100%"> 
        <img id="viewpic" src="@Model.ImagePath" style="max-width:100%;height:auto;margin:0px;"/>
    </div>
</body>
</html>
