@{
    Layout = "~/Views/AiLvHuoDong/AiLvZhangHuLayout.cshtml";
    ViewBag.Title = "爱驴账户";
}

@*@section side
{
    @Html.Partial("_CommonSideNav")
}*@

<div class="zuixinzixun">
    <h1>爱驴账户</h1>

   
</div>
