@model MVCForum.Website.ViewModels.AiLvHuoDong_CreateEdit_ViewModel

@{
    ViewBag.Title = "发布活动";
    Layout = "~/Views/Shared/_LayoutFullWidth.cshtml";
}

<h2>@ViewBag.Title</h2>
<div class="panel">
    @*<div class="panel-heading">
       
    </div>*@
    <div class="panel-content">
        <div class="row">

            <div class="col-md-8 col-md-offset-1">
                <div class="createtopicholder">
                    @using (Html.BeginForm("CreateAiLvHuoDong", "AiLvHuoDong", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                        @Html.ValidationSummary(true)
                        @Html.AntiForgeryToken()
                        @Html.Partial("_CreateEdit_ZuiXinHuoDong", Model)
                    }
                </div>
            </div>
        </div>
    </div>
</div>
