@{
    Layout = "~/Views/AiLvHuoDong/MeiRiZhiXingLayout.cshtml";
    ViewBag.Title = "每日之星";
}

@*@section side
{
    @Html.Partial("_CommonSideNav")
}*@

<div class="meirizhixing">
    <h1>每日之星</h1>

   
</div>
