@{
    Layout = "~/Views/AiLvHuoDong/ZuiXinZiXunLayout.cshtml";
    ViewBag.Title = "最新资讯";
}

@*@section side
{
    @Html.Partial("_CommonSideNav")
}*@

<div class="zuixinzixun">
    <h1>最新资讯</h1>

   
</div>
