@{
    Layout = "~/Views/AiLvHuoDong/ZuiXinHuoDongLayout.cshtml";
    ViewBag.Title = "最新活动";
}

@*@section side
{
    @Html.Partial("_CommonSideNav")
}*@

<div class="zuixinhuodong">
    <h1>最新活动</h1>

   
</div>
