@{
    Layout = "~/Views/AiLvHuoDong/ZuiXinFuWuLayout.cshtml";
    ViewBag.Title = "最新服务";
}

@*@section side
{
    @Html.Partial("_CommonSideNav")
}*@

<div class="zuixinfuwu">
    <h1>最新服务</h1>

   
</div>
