@using MVCForum.Website.Application
@using MVCForum.Website.ViewModels
@model AiLvZiXunTopicsViewModel
@{
    //Layout = null;
    Layout = "~/Views/AiLvHuoDong/ZuiXinZiXunLayout.cshtml";
    ViewBag.Title = "最新资讯";

    var totalCount = Convert.ToInt32(Model.TotalCount);
    ViewBag.Canonical = Html.Raw(AppHelpers.CanonicalPagingTag(totalCount, Html.Settings().TopicsPerPage, Html));


}

<div class="zuixinzixun">

    <div class="mainheading clearfix">
        <h1>最新资讯</h1>
    </div>

    @foreach (var topic in Model.Topics)
    {
        Html.RenderPartial("_Topic", topic);
    }

    @if (Model.TotalPages > 1)
    {
        //TODO: Benjamin 07-05,此处还没有指定Action的名字
        @Html.Pager(Convert.ToInt32(Model.PageIndex), Html.Settings().TopicsPerPage, totalCount, null, "Index", "AiLvHuoDong")
    }

</div>
