@{
    Layout = "~/Views/AiLvHuoDong/ZuiXinJiLuLayout.cshtml";
    ViewBag.Title = "最新记录";
}

@*@section side
{
    @Html.Partial("_CommonSideNav")
}*@

<div class="zuixinjilu">
    <h1>最新记录</h1>

   
</div>
