@{
    Layout = "~/Views/AiLvHuoDong/ZuiXinHuiYuanLayout.cshtml";
    ViewBag.Title = "最新会员";
}

@*@section side
{
    @Html.Partial("_CommonSideNav")
}*@

<div class="zuixinhuiyuan">
    <h1>最新会员</h1>

   
</div>
