@model MVCForum.Website.ViewModels.ADSetting_CreateEdit_ViewModel

@{
    ViewBag.Title = "编辑广告";
    Layout = "~/Views/Shared/_LayoutFullWidth.cshtml";
}

<h2>发布广告</h2>

<div class="row">

    <div class="col-md-8 col-md-offset-2">
     @using (Html.BeginForm("EditAD", "ADSetting", FormMethod.Post, new { enctype = "multipart/form-data" }))
     {
            @Html.ValidationSummary(false)
            @Html.AntiForgeryToken()
            @Html.Partial("_CreateEdit_ADSetting", Model)
            @Html.HiddenFor(x => x.Id)
        }
    </div>
</div>

